{% extends 'home/base.html' %}
{% load  static %}


{% block content %}

   <section id="expansion-plan" style="padding-top:120px ;padding-bottom: 120px" >
        <div class="container bg-white certificate-itself"style = "border: 5px solid #000; box-shadow: 0px 0px 30px black">
            <div class="row" style="margin-bottom:60px">
                <div class="col-lg-12 cl-md-12 ">
                    <div class="section-heading-cer" style="margin-bottom:80px">
                        <h1 style="padding-top: 60px" >OUR  CERTIFICATION</h1>
                    </div>
                 </div>
                 <div class="col-lg-12 cl-md-12 " style="margin-bottom:30px">
                          <h3 style="text-align:center">ISO 9001:2015</h3>
                          <h4 style="text-align:center">Quality Management Systems </h4>
                          <img style="text-align:center" src="{% static 'home/img/CL.jpg' %}" alt="certificate" class="image-fluid cer-image"></img>

                    </div >
                       <div class="col-lg-12 cl-md-12"   style="margin-bottom:30px">
                        <h5 style="text-align:center"><b>ISO 9001 is defined </b>as the international standard that specifies requirements for a quality management system (QMS). Organizations use the standard to demonstrate the ability to consistently provide products and services that meet customer and regulatory requirements.
                       </h5>

                   </div>
                    <div class="col-lg-12 cl-md-12 " style="margin-bottom:30px">
                          <h3 style="text-align:center;margin-bottom:30px">Significance of ISO 9001:2015</h3>
                          <ul class="b">
                          <h5><li>Become more cost-efficient.</li></h5>
                           <h5><li>Increased credibility and competitiveness.</li></h5>
                            <h5><li>Lower costs and shorter cycle times through effective use of resources.</li></h5>
                            <h5><li>Enhanced customer satisfaction and improved customer loyalty leading to repeat business.</li></h5>




                          </ul>
                        </div>




                     
                    

                    </div>
        </div>
    </section>

{% endblock %}