{% extends 'home/base.html' %}
{% load static %}

{% block content %}


		<div class="client-section pt-5">
			<div class="container-fluid client-wrapper text-center pt-5">
				<div class="row justify-content-center py-5 ">
					<h1 class="client-happy-header text-center">Our Happy Clients</h1>
				</div>	
				<div class="row justify-content-center">
					<div class="col-6 col-sm-4 mb-5 col-md-3 col-lg-2">
						<img  class="client-image"  src="{% static 'home/img/brands/c1.png' %}" alt="">
					</div>
					<div class="col-6 col-sm-4 mb-5 col-md-3 col-lg-2">
						<img  class = "client-image"  src="{% static 'home/img/brands/c2.png' %}" alt="">
					</div>
					<div class="col-6 col-sm-4 mb-5 col-md-3 col-lg-2">
						<img  class = "client-image"  src="{% static 'home/img/brands/c3.png' %}" alt="">
					</div>
					<div class="col-6 col-sm-4 mb-5 col-md-3 col-lg-2">
						<img  class = "client-image"  src="{% static 'home/img/brands/c4.png' %}" alt="">
					</div>

				</div>
{#				<div class="row justify-content-center my-5">	#}
{#					<h1 class="client-happy-header">Our Prospective Clients</h1>	#}
{#				</div>#}
{#				<div class="row justify-content-center">#}
{#					<div class="col-6 col-sm-4 mb-5 col-md-3 col-lg-2">#}
{#						<img  class = "client-image"  src="{% static 'home/img/brands/p1.png' %}" alt="">#}
{#					</div>#}
{#					<div class="col-6 col-sm-4 mb-5 col-md-3 col-lg-2">#}
{#						<img  class = "client-image"  src="{% static 'home/img/brands/p2.png' %}" alt="">#}
{#					</div>#}
{#					<div class="col-6 col-sm-4 mb-5 col-md-3 col-lg-2">#}
{#						<img  class = "client-image"  src="{% static 'home/img/brands/p3.png' %}" alt="">#}
{#					</div>#}
{#					<div class="col-6 col-sm-4 mb-5 col-md-3 col-lg-2">#}
{#						<img  class = "client-image"  src="{% static 'home/img/brands/p4.png' %}" alt="">#}
{#					</div>#}
{##}
{#				</div>#}


			</div>
		</div>

{% endblock %}
