{% extends 'home/base.html' %}
{% load static %}

{% block content %}



        <section id="our-manufacturing"  style="padding-bottom: 60px"  >
        <div class="section-heading" style="margin-bottom:60px">
            <h1  style="padding-top: 140px">OUR MANUFACTURING FACILITIES</h1>
        </div>

<div class="container">



            <div class="row text-center  justify-content-center" style="margin-bottom:70px">
                <div class=" col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center d-flex  flex-column justify-content-center align-items-center" style="margin-bottom:100px">
<div class="flip-card text-center"  style="margin-bottom:30px">
  <div class="flip-card-inner text-center">
    <div class="flip-card-front text-center">
      <img src="{% static 'home/img/inf1.png' %}" alt="Avatar" style="width:300px;height:300px;">
     
    </div>
    <div class="flip-card-back">
      <h1>SAMARTH INDUSTRIES<br><br><h3>"Once Trusted..Always Trusted"</h3>

</h1> 
     
    </div>
  </div>
</div>
 <h4>Core shooting Machine-8 Nos
 </h4> 
</div>
           <div class=" col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center d-flex   flex-column justify-content-center align-items-center "style="margin-bottom:100px">
<div class="flip-card  text-center" style="margin-bottom:30px">
  <div class="flip-card-inner  text-center">
    <div class="flip-card-front  text-center">
      <img src="{% static 'home/img/inf2.png' %}" alt="Avatar" style="width:300px;height:300px;">
    
    </div>
    <div class="flip-card-back">
      <h1>SAMARTH INDUSTRIES<br><br><h3>"Delivering  Quality Products
"</h3>
</h1> 
     
    </div>
  </div>
</div>
  <h4>Pit Furness with capacity 40 kgs 
 </h4> 
</div>
 <div class=" col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center d-flex   flex-column justify-content-center align-items-center "style="margin-bottom:100px">
<div class="flip-card  text-center" style="margin-bottom:30px">
  <div class="flip-card-inner  text-center">
    <div class="flip-card-front  text-center">
      <img src="{% static 'home/img/inf3.png' %}" alt="Avatar" style="width:300px;height:300px;">
    
    </div>
    <div class="flip-card-back">
      <h1>SAMARTH INDUSTRIES<br><br><h3>"Our Product Quality .. Our Testimonial
"</h3>
</h1> 
     
    </div>
  </div>
</div>
  <h4>Die casting M/C Size 600 X 600.</h4>
</div>

 <div class=" col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center d-flex   flex-column justify-content-center align-items-center "style="margin-bottom:100px">
<div class="flip-card  text-center" style="margin-bottom:30px">
  <div class="flip-card-inner  text-center">
    <div class="flip-card-front  text-center">
      <img src="{% static 'home/img/inf4.png' %}" alt="Avatar" style="width:300px;height:300px;">
     
    </div>
    <div class="flip-card-back">
      <h1>SAMARTH INDUSTRIES<br><br><h3>"Committed for High Productivity"</h3>
</h1> 
     
    </div>
  </div>
</div>
 <h4>Tilting Furness capacity 80kgs</h4>
</div>
<div class=" col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center d-flex  flex-column justify-content-center align-items-center "style="margin-bottom:100px">
<div class="flip-card  text-center" style="margin-bottom:30px">
  <div class="flip-card-inner  text-center">
    <div class="flip-card-front  text-center">
      <img src="{% static 'home/img/mc2.png' %}" alt="Avatar" style="width:300px;height:300px;">
     
    </div>
    <div class="flip-card-back">
      <h1>SAMARTH INDUSTRIES<br><br><h3>"Casting Redefined"</h3>
</h1> 
     
    </div>
  </div>
</div>
 <h4>Electro Pneumatic Systems</h4>

</div>
<div class=" col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center d-flex   flex-column justify-content-center align-items-center "style="margin-bottom:100px">
<div class="flip-card  text-center" style="margin-bottom:30px">
  <div class="flip-card-inner  text-center">
    <div class="flip-card-front  text-center">
      <img src="{% static 'home/img/mc3.png' %}" alt="Avatar" style="width:300px;height:300px;">
     
    </div>
    <div class="flip-card-back">
      <h1>SAMARTH INDUSTRIES<br><br><h3>"Manufacturing the Loyalty"</h3>
</h1> 
     
    </div>
  </div>
</div>
 <h4>PLC based Programming</h4>

</div>
<div class=" col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center d-flex   flex-column justify-content-center align-items-center "style="margin-bottom:100px">
<div class="flip-card  text-center" style="margin-bottom:30px">
  <div class="flip-card-inner  text-center">
    <div class="flip-card-front  text-center">
      <img src="{% static 'home/img/mc4.png' %}" alt="Avatar" style="width:300px;height:300px;">
      
    </div>
    <div class="flip-card-back">

      <h1>SAMARTH INDUSTRIES<br><br><h3>"Building up faith…Building up Quality"</h3>
</h1> 
     
    </div>

  </div>
</div>
<h4>Die casting & sand casting facility  for Non Ferrous Castings (  250 gms to 25kgs)</h4>

</div>
  </div>
</div>

             <div class="container-fluid text-center mb-5 text-dark">
        {#  //changes of product to our facilities#}
 <!-- single product starts -->
			<div class="row justify-content-center py-5 ">

 				<div class="shadow col-12 col-lg-4 text-center product-image-col d-md-flex flex-md-column justify-content-center">
 					<img class="img-fluid product-image align-self-center" src="{% static 'home/img/core.jpg' %}" alt="shell-core-product-2">
 				</div>
 				<div class="shadow col-12 col-lg-6  product-description-col">
 					<h2 class="single-product-header mr-auto mb-5">Shell Cores</h2>
 					<p class="product-paragraph text-left">A core is a device used in casting processes to produce internal cavities and reentrant angles. They are most commonly used in sand casting, but are also used in die casting and injection moulding. The core is normally a disposable item that is destroyed to get it out of the piece. </p>

 					<p class="product-paragraph text-left">Shell Cores  are  most efficient and economical way to use cores with sand casting molds. Shell cores are long lasting and can be used for several months of production. Thus Relatively inexpensive production costs and ability to fabricate large components. It also give high precision and better dimensional accuracy  and greater resistance  to heat when  coated with graphite, silica, or mica to give a smoother surface finish.</p>

                    <a href="{% url 'contact_form' %}"><button class="btn btn-lg btn-primary my-5 p-3 product-button">Contact For Orders</button></a>
 				</div>
			</div>
			<!-- single-product  ends-->


			<!-- single product starts -->
			<div class="row justify-content-center py-5">
 				<div class="shadow col-12 col-lg-4 text-center product-image-col d-md-flex flex-md-column justify-content-center">
 					<img class="img-fluid product-image align-self-center" src="{% static 'home/img/shell2.png' %}" alt="shell-core-product-2">
 				</div>
 				<div class="shadow col-12 col-lg-6  product-description-col">
 					<h2 class="single-product-header text-center mb-5">Shell Moulds</h2>
 					<p class="product-paragraph text-left">Supporting both ferrous and non-ferrous metals, shell molding is a molding process that’s characterized by the use of a sand-base mold. Companies don’t use just regular “beach” sand for this process, however. Instead, a special type of resin-covered sand it used in shell molding. </p>

 					<p class="product-paragraph text-left">From engine blocks and cylinder heads to connecting rods and machine components, shell molding is used to make a range of different products. Also known as shell casting, it’s a relatively new molding process with origins dating back to the mid-1900s. Since then, it’s become a popular choice for manufacturing applications requiring extreme precision. So, what is shell molding exactly, and how is it performed?</p>

 					<p class="product-paragraph pt-5">
 						<h6 class="font-weight-bold">Shell molding offers several benefits for companies, some of which include the following:</h6>
 						<ul class="text-left">
 							<li>Ability to create complex shapes with extreme precision</li>
 							<li>Low labor requirements</li>
 							<li>Supports most metals, including iron, steel, aluminum, copper and alloys</li>
 							<li>Bubbling isn’t a problem since the mold is free of moisture</li>
 							<li>Can be scaled for mass production</li>
 						</ul>
 					</p>

                    <a href="{% url 'contact_form' %}"><button class="btn btn-lg btn-primary my-5 p-3 product-button">Contact For Orders</button></a>
 				</div>

			</div>
			<!-- single-product  ends-->


{#    //changes of product to our faacilities#}
                </div>



<div class="expansion-plan-section">

    <div class="container exp-plan-container bg-white">
      <div class="row mb-4 px-4 justify-content-center justify-content-lg-start">
        <div class="expansion-header d-inline-block">
          <img src="{% static 'home/img/expansion1.png' %}" alt="expansion-plan-image" class="explansion-image">
        </div>
      </div>
      <div class="row  text-left p-4">
        <div class="col-lg-5 col-xl-5 bg-seco=ndary">
          <h4 class="expansion-title mb-3">We intend to extended our activity in the field of centrifugal castings</h4>
          <p class="expansion-desc">
            Centrifugal casting or rotocasting is a casting technique that is typically used to cast thin-walled cylinders. It is typically used to cast materials such as metals, glass, and concrete. A high quality is attainable by control of metallurgy and crystal structure
          </p>
        </div>
        <div class=" col-12 col-lg-5 col-xl-6 text-center text-lg-left">
          <img src="{% static 'home/img/expansion2.png' %}" alt="expansion-plan-image-one" class="flame img-fluid">
        </div>
      </div>
      <div class="row p-4 ">
        <div class="col-lg-4 col-xl-4 shift-up text-center text-lg-left mb-5">
          <img src="{% static 'home/img/expansion3.png' %}" alt="expansion-plan-image-two" class="cylinder-image img-fluid">
        </div>
        <div class="col-lg-8 col-xl-8 bg-warn=ing border-danger">
          <img src="{% static 'home/img/expansion4.png' %}" alt="expansion-plan-image-three" class="piston-image w-100 img-fluid" >
        </div>
      </div>
    </div>

  </div>

</section>


{% endblock %}